@font-face {
	font-family: 'Roboto-Thin';
	src: url('../fonts/Roboto-Thin.eot');
	src: url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Thin.woff') format('woff'),
		url('../fonts/Roboto-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('../fonts/Roboto-Bold.eot');
	src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Bold.woff') format('woff'),
		url('../fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot');
	src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Regular.woff') format('woff'),
		url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light.eot');
	src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Light.woff') format('woff'),
		url('../fonts/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Black';
	src: url('../fonts/Roboto-Black.eot');
	src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Black.woff') format('woff'),
		url('../fonts/Roboto-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Oswald-Bold';
	src: url('../fonts/Oswald-Bold.eot');
	src: url('../fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Oswald-Bold.woff') format('woff'),
		url('../fonts/Oswald-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Oswald-Light';
	src: url('../fonts/Oswald-Light.eot');
	src: url('../fonts/Oswald-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Oswald-Light.woff') format('woff'),
		url('../fonts/Oswald-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald-Regular';
	src: url('../fonts/Oswald-Regular.eot');
	src: url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Oswald-Regular.woff') format('woff'),
		url('../fonts/Oswald-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}             
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------base style */
body    {box-sizing:border-box; max-width: 1960px;}
form 	{  box-sizing:border-box;
			button  {  border: none; outline: none; padding: 18px 15px 12px; font-family: 'Roboto-Black'; font-size: 14px; color: #fff; text-transform: uppercase; background: #35c9e2;background: -moz-linear-gradient(top, #35c9e2 0%, #5bccaf 45%, #5bccaf 99%);background: -webkit-linear-gradient(top, #35c9e2 0%,#5bccaf 75%,#5bccaf 99%);background: linear-gradient(to bottom, #35c9e2 0%,#5bccaf 75%,#5bccaf 99%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35c9e2', endColorstr='#5bccaf',GradientType=0 );}
		}

$color-brown:#3b3b3b;
$color-white:#fff;
$color-lite-blue:#c5d8eb;

h2      { font-family: 'Roboto-Thin'; font-size: 32px; color:$color-brown; margin-bottom: 18px; text-transform: uppercase;}	
h2+p    { font-family:'Roboto-Black'; font-size: 16px; color:$color-brown; line-height: 20px;}

.clearfix:after {
	content: "";
	display: table;
	width: 100%;
	clear: both;
}

/* ----------------------/base stile  */


header                            		 	 	    { background:#f9fbfe; width: 100%; margin: 0 auto;
	.main-header                  				    { max-width: 1110px; box-sizing:border-box; margin: 0 auto; text-align: center;
		.logo                     		   		    { float: left; padding-top: 17px;}
		.header-form                                { margin-top: 15px; float: right;}
		/* pop pup*/
		.pop-outer                                  { z-index:2; position: fixed; background-color: rgba(0,0,0,0.5);top:0; left: 0; width: 100%; height: 100%; display: block; 
			.pop-inter                              { top:30%;left:40%; border: 1px solid#f1f1f1; position: relative;display: block; max-width:350px;box-sizing:border-box; background:$color-white; text-align: center; padding: 40px 10px 30px 10px;
				.close                              { position: absolute;top:-10px; right: -10px; display: block; padding: 5px 10px; box-sizing:border-box; border-radius: 50%; background:rgba(66,196,189,1); color:$color-white; font-family: 'Roboto-Light'; font-size: 20px; opacity: 1;}	
				h3                                  {text-transform:uppercase; font-family: 'Roboto-Thin'; font-size: 24px; color:$color-brown; padding-bottom: 20px;}
				ul                                  { 
					.input-name, .input-phone       { padding: 16px 30px;width: 100%; border: 2px solid#f1f1f1; margin-bottom: 10px;}
					input                           { width: 100%; font-family: 'Roboto-Thin';font-size: 14px; border: none;outline: none; 
					}	
				}
				textarea                            { width: 100%; height: 139px;  font-family: 'Roboto-Thin';font-size: 14px; padding: 16px 30px;margin-bottom: 10px;border: 2px solid#f1f1f1; outline: none;} 
				.pop-pup-botton                     {width: 100%;}
			}
		}
		nav                                         { display: inline-block;
			ul                      		   		{ display: inline-block; padding-left: 15px;
				li                   		   		{ list-style-type: none; position: relative; display: inline-block; box-sizing: border-box;
					a                		   		{ font-family: 'Roboto-Light'; display: block; box-sizing:border-box; font-size: 12px; color:$color-brown; padding: 29px 18px 28px 17px; text-transform: uppercase; text-decoration: none;
						&:hover                  	{ box-sizing: border-box; display: block; background:#f5f6f9; border-bottom: 2px solid #59cbfa; }
					 }
					
					&:nth-child(6), &:last-child  	{ font-family:'Roboto-Black'; font-size: 12px; padding: 29px 0 29px 45px;}
					&:nth-child(6):before        	{ content: ''; position: absolute; width: 15px; height:15px; background: url('../images/phone.png') no-repeat; left: 20px;top: 28px;}      
					&:nth-child(6):after  			{ content: ''; position: absolute; width: 15px; height:15px; background: url('../images/time.png') no-repeat; right: -30px;top: 28px;}
				}
			}
		}
		
	}	
}
.info                                           { width: 100%; text-align: center; position: relative; background: url('../images/banner-2.png') no-repeat; background-size:cover; box-sizing: border-box;
	.info-banner                                {  padding-top: 100px; padding-bottom: 219px;
		h3                                      { font-family:'Roboto-Black'; font-size: 30px; color: $color-white; text-transform: uppercase; padding-bottom: 20px;}
	    p                                       { font-family:'Roboto-Thin' ; color:$color-white; text-transform: uppercase; font-size: 40px; padding-bottom: 33px; }
		span                                    { display: block; box-sizing:border-box; text-transform:uppercase; max-width: 586px; margin:0 auto; font-family: 'Roboto-Black'; font-size: 48px; color:  $color-white; padding: 18px; background:rgba($color-lite-blue,0.5); border: 1px solid $color-white; margin-bottom: 30px;}
	}
}
.why-we                                         { text-align: center; background:#f0f0f2; width: 100%;
	.maine-why-we                               { max-width: 1110px; margin: 0 auto; padding-top: 69px;
		h2                                      { display: block; margin-bottom: 80px}
		ul                                      { display: inline-block;
			li                                  { float: left;  margin-right: 120px;
				&:last-child                    { margin-right: 0;}
				div                             { width: 160px; height: 160px; border-radius: 50%; background:#f7f7f7; border: 1px solid#d6d6d7; margin-bottom: 37px;
					img                         { position: relative;top:25%;}
				}
				.sell                           { background:#35c9e2; background: -moz-linear-gradient(top, #35c9e2 0%, #5bccaf 45%, #5bccaf 99%);background: -webkit-linear-gradient(top, #35c9e2 0%,#5bccaf 75%,#5bccaf 99%);background: linear-gradient(to bottom, #35c9e2 0%,#5bccaf 75%,#5bccaf 99%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35c9e2', endColorstr='#5bccaf',GradientType=0 );}
				p                               { font-family:'Roboto-Black'; font-size: 16px; color:$color-brown; line-height: 26px; margin-bottom: 70px;}   
			}
		}
	}
}
.slider                                         { position: relative;
	.sl-slide                                   { position: relative;
		img                                     { width: 100%;}
		.sl-text                                { position: absolute; top: 20%; right: 15%; display: block;
		h3                                      { text-transform: uppercase; font-family: 'Roboto-Black';font-size: 40px; line-height: 50px; color: $color-white; margin-bottom: 30px;}
		p                                       { font-family: 'Roboto-Light';font-size: 20px; line-height: 30px; color: $color-white; margin-bottom: 25px;}
		a                                       { font-family: 'Roboto-Black';font-size: 18px; text-transform: uppercase; line-height: 30px; color: $color-white;}
		}
		.banner                                 { position: absolute; top: 20%; left: 15%;
			img                                 { max-width: 500px;}
			.img-banner2                        { width: 400px; position: absolute; top: -55px; left:5%;}
			.img-banner3                        { max-width: 500px; top: -90px; left:5%; position: absolute;} 
		}
	}
	.controllers                                {
		.prev                                   { background: url('../images/left.png')  no-repeat; width: 60px;height: 60px; position: absolute;top: 50%; left:2%;
			&:hover                             { background: url('../images/left-hover.png')no-repeat;}
		}
		.next                                   { background: url('../images/right.png')  no-repeat; width: 60px;height: 60px;position: absolute;top: 50%; right:2%;
			&:hover                             { background: url('../images/right-hover.png')no-repeat;}
		}
	}	
}
.portfolio                                      { width: 100%; color: $color-white; text-align: center; max-width: 1960px;
	.main-portfolio                             { max-width: 1110px; margin:0 auto; padding: 70px 0;
	}
	.masonry-container                          { padding: 0;
		.item                                   { padding: 0; height: 340px; position: relative;
			img                                 { width: 100%;}
		}
		.cover-portfolio                        {  display: none;   text-align: center; position:absolute; ; width: 100%;top: 0; bottom: 0; background: rgb(89,206,225);background: -moz-linear-gradient(top, rgba(89,206,225,0.8) 0%, rgba(89,206,225,0.8) 66%, rgba(225,221,220,0.8) 66%, rgba(225,221,220,0.8) 66%);background: -webkit-linear-gradient(top, rgba(89,206,225,0.8) 0%,rgba(89,206,225,0.8) 66%,rgba(225,221,220,0.8) 66%,rgba(225,221,220,0.8) 66%);background: linear-gradient(to bottom, rgba(89,206,225,0.8) 0%,rgba(89,206,225,0.8) 66%,rgba(225,221,220,0.8) 66%,rgba(225,221,220,0.8) 66%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59cee1', endColorstr='#e1dddc',GradientType=0 ); 
			a                                   {  display: block; width: 100%; /* background: url(../images/hover-icon.png) no-repeat;   */position: relative; width: 100%;  text-decoration: none;
				span                            {  position: relative; top:250px; font-family: 'Roboto-Thin';font-size: 16px; color: $color-brown; line-height: 24px; }
				p                               {  position: relative; top:250px;font-family: 'Roboto-Black';font-size: 14px; color: $color-brown; line-height: 24px;}
				/* img                             { width: 40px; height: 40px; position: relative; top: 200px; content: '';} */
			}
		}
	}
}
.price                                          { width: 100%; display: block;margin: 0 auto;padding-top: 78px;
	.main-price                                 { max-width: 1110px; text-align: center; margin: 0 auto;
		ul                                      { margin-top: 70px; margin-bottom: 68px; display: inline-block;
			li                                  { float: left; width: 280px; border: 3px solid #f1f1f1;box-sizing:border-box; margin-left: 100px;
				&:first-child                    {  margin-left: 0; }
				&:nth-child(2)                  {  margin-top: -30px;
					h3                          { font-family: 'Roboto-Thin'; font-size: 30px; background: #35c9e2;background: -moz-linear-gradient(top, #35c9e2 0%, #5bccaf 45%, #5bccaf 99%);background: -webkit-linear-gradient(top, #35c9e2 0%,#5bccaf 75%,#5bccaf 99%);background: linear-gradient(to bottom, #35c9e2 0%,#5bccaf 75%,#5bccaf 99%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35c9e2', endColorstr='#5bccaf',GradientType=0 );}
				 	dl                          {  height: 280px;}
				}
				h3                              { padding: 42px 90px; background:#f0f0f2; font-family:'Roboto-Light'; font-size: 24px; margin-bottom: 35px;}
				div                             { padding-bottom: 10px; text-align: left;
					h4                          { float: left; display: block; font-family: 'Oswald-Bold'; font-size: 54px; color:$color-brown; position: relative; left:25%; padding-bottom: 50px; border-bottom: 2px solid#50cbbe;}
					.pick                       { font-family: 'Oswald-Regular'; font-size: 30px; color: $color-brown;}
					p                           { font-family: 'Roboto-Regular'; font-size: 14px; color: #50cbbe; text-transform:uppercase; padding-left: 50%;}
					.last-p                     { padding-left: 56%;}
				}
				dl                              { padding-left: 25%; display: block; text-align: left; height: 220px;
					dd                          { font-family: 'Roboto-Thin';font-size: 14px; color: $color-brown;line-height: 27px; text-transform: uppercase; }
				}
				form                             { margin-bottom: 20px;
					.button                      { padding: 18px 15px 12px; background:$color-white; border: 1px solid$color-brown; color:$color-brown;}
				}
				&:hover h3                       { background: #35c9e2;background: -moz-linear-gradient(top, #35c9e2 0%, #5bccaf 45%, #5bccaf 99%);background: -webkit-linear-gradient(top, #35c9e2 0%,#5bccaf 75%,#5bccaf 99%);background: linear-gradient(to bottom, #35c9e2 0%,#5bccaf 75%,#5bccaf 99%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35c9e2', endColorstr='#5bccaf',GradientType=0 ); }
				&:hover button                   { border: none; color:$color-white; background: #35c9e2;background: -moz-linear-gradient(top, #35c9e2 0%, #5bccaf 45%, #5bccaf 99%);background: -webkit-linear-gradient(top, #35c9e2 0%,#5bccaf 75%,#5bccaf 99%);background: linear-gradient(to bottom, #35c9e2 0%,#5bccaf 75%,#5bccaf 99%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35c9e2', endColorstr='#5bccaf',GradientType=0 );}
			}
		}
	}
}
footer                                          { position: relative; width: 100%;
	.code-map                                   { max-width: 1980px;}
	.form                                       { background:$color-white;display: block; width: 350px; border: 2px solid#f1f1f1; text-align: center; padding: 40px 30px; position: absolute; top: 25%; left:10%;
		h3                                      { font-family: 'Roboto-Thin';font-size: 24px; color: $color-brown; margin-bottom: 20px; }
		ul                                      {
			li                                  { font-family: 'Roboto-Thin';font-size: 14px; padding: 15px 0; display: block; width: 100%; border: 1px solid#f1f1f1; margin-bottom: 10px;
				input                           { border: none; outline: none;}
			}
		}
		button                                  {width: 100%;}
	}
	.footer                                     { width: 100%; display: block; background: #f0f0f2;
		.main-footer                            { max-width: 1110px; padding: 20px 0; margin: 0 auto;
			img                                 { float: left; display: block;}
			p                                   { float: right; line-height: 24px; font-family: 'Roboto-Light'; font-size: 12px; color:$color-brown; }
		}
	}
}


@media screen and (max-width: 1460px) {
 .slider .sl-slide .banner .img-banner3{ left:-5%;}
}
@media screen and (max-width: 1355px) {
 .slider .sl-slide .banner { left: 5%;}
 .slider .sl-slide .banner .img-banner2 {width: 330px;}
 .slider .sl-slide .banner .img-banner3 {width: 450px;}
}
@media screen and (max-width: 1200px) {
  .slider .sl-slide .banner img {width: 400px;}
}
@media screen and (max-width: 1110px) {
  .slider .sl-slide .banner  {display: none;}
  header .main-header nav li:nth-child(6), header .main-header nav li:last-child {display: none;}
  header .main-header {text-align: center;}
  /* .banner .info-banner { left: 10%;} */
  .slider .sl-slide .sl-text h3{ margin-bottom: 0;}
  .slider .sl-slide .sl-text p {margin-bottom: 0;}
  .why-we .maine-why-we ul li{margin-right:70px }
  .price .main-price ul li{  margin-left: 40px; }
}

@media screen and (max-width: 937px) {
.price .main-price ul li{display: inline-block; margin-bottom: 20px; float: none;}
.price .main-price ul li:nth-child(2) dl{ height: 220px;}
.price .main-price ul li:nth-child(2){ margin-top: 0;} 
.why-we .maine-why-we ul li{ float: none; display: inline-block; margin: 0 10px;}
.slider .sl-slide .sl-text h3{ font-size: 30px;line-height: 35px;}
}
@media screen and (max-width: 760px) {
    header .main-header .logo{ float: none; }
    header .main-header .header-form {float: none;}
	header .main-header nav ul { padding-left: 0;}
}	
@media screen and (max-width: 720px) {
 .slider .sl-slide .sl-text a{ font-size: 14px;}
 .slider .sl-slide .sl-text h3{font-size:20px ;line-height:25px ;}
 .slider .sl-slide .sl-text p{font-size: 14px; line-height: 16px;}
 .price .main-price ul li { margin: 0 2px 20px 2px;}
 .slider .controllers .prev, .slider .controllers .prev:hover{background: url(../images/righ.png) no-repeat; width: 10px; height: 17px;}
  .slider .controllers .next, .slider .controllers .next:hover{background: url(../images/lef.png) no-repeat;width: 10px; height: 17px;}
  .slider .sl-slide .sl-text a{ display: none;}
}
@media screen and (max-width: 412px) {
form button{ font-size: 12px;}
header .main-header nav ul li a{ padding: 10px 5px;}
header .main-header nav ul { padding: 0;}
/* .banner .info-banner h3{ font-size: 20px; padding-bottom: 0;} */
/* .banner .info-banner p{ font-size: 30px;}
.banner .info-banner span{ font-size: 20px;} */
.slider .sl-slide .sl-text h3{ font-size: 10px;line-height: 14px;}

.slider .sl-slide .sl-text p{ font-size:8px; line-height: 10px;}
footer .footer .main-footer { text-align: center;}
footer .footer .main-footer img, footer .footer .main-footer p{ float: none; display: inline-block;}
footer .form{ width: 250px;}
}
@media screen and (max-width: 355px) {
/*  header .main-header .header-form{ display: none;} */
 header .main-header nav ul li a{ padding: 10px 2px;}
 footer .form{ padding: 25px 5px; width: 200px;}
 .price .main-price ul li{ margin: 0; width: 260px;}
}
@media screen and (max-width: 720px) {
  /* specific CSS */
}